# Node modules
node_modules/

# Environment variables (VERY IMPORTANT)
.env

# Logs
logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# Build files
dist/
build/

# Coverage
coverage/

# IDE files
.vscode/
.idea/

*.env